@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter";
}

.nav-item a{   
    font-weight: 700;
}

.navbar-brand img{
    height: 120px;
}

a {
    text-decoration: none;
}

.hero-container{
    height: 900px;
    background-image: url(assets/heroImg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-title-container{
    padding-top: 220px;
   
}


.hero-title-container h1{
    font-size: 64px;
    font-weight: 900;
    background-color: #1B2145;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
}

.hero-title-container p{
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.hero-learnmore{
    border: none;
    width: 180px;
    border-radius: 20px;
    background-color: #68cafbb3;
    transition: 0.3s ease;
}

.hero-learnmore:hover{
    background-color: #68CAFB;
    width: 200px;
}

.hero-getintouch{
    border: none;
    width: 180px;
    border-radius: 20px;
    background-color: #1b21459c;
    transition: 0.3s ease;
}

.hero-getintouch:hover{
    background-color: #1b2145;
    width: 200px;
}


.about-content h1{
    font-size: 48px;
    font-weight: 800;
    color: #1B2145;
}

.about-content :nth-child(2){
    font-size: 30px;
    font-weight: 600;
    color: rgb(70, 70, 70);
    position: relative;
}

.about-content :nth-child(2)::before{
    content: '';
    width: 300px;
    height: 6px;
    background-color: #68CAFB;
    bottom: 0;
    position: absolute;
}

.about-learnmore{
    border: none;
    width: 180px;
    border-radius: 20px;
    background-color: #68CAFB;
    transition: 0.4s ease;
    position: relative;
}

.about-learnmore:hover{
    width: 200px;
    background-color: #1B2145;
}

.ppvc-construction{
    position: relative;
}

.ppvc-construction::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #68CAFB;
    bottom: 0;
    position: absolute;
}

.game-changer{
    color: #68CAFB;
}


.modular-solution a{
    text-decoration: none;
    color:  #68CAFB;
    font-size: 18px;
}

.project-btn{
    border: none;
    width: 300px;
    border-radius: 20px;
    background-color: #68CAFB;
    transition: 0.4s ease;
}

.project-btn:hover{
    width: 350px;
    background-color: #1B2145;
}


  .whoweare{
    position: relative;
  }

  .whoweare::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #68CAFB;
    bottom: 0;
    position: absolute;
  }

  .project-container{
    width: 100%;
    height: 400px;
    background-color: #1B2145;
  }


  .about-us {
    position: relative;
  }

  .about-us::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #68CAFB;
    bottom: 0;
    position: absolute;
  }

  .whatsay-container{
    width: 100%;
    height: 400px;
    background-color: #1B2145;
  }

  .amazing {
    position: relative;
  }

  .amazing::before{
    content: '';
    width: 100%;
    height: 4px;
    background-color: #68CAFB;
    bottom: 0;
    position: absolute;
  }

  .solution-label{
    position: relative;
  }

  .solution-label::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: #68CAFB;
    bottom: 0;
    position: absolute;
    transition: 0.4s ease;
  }

  .solution-label:hover::before{
    width: 100%;
  }

  .why-ppvc-container {
    width: 100%;
    height: 350px;
    background-color: #38406973;
    transition: 0.5s ease;
  }

  .why-ppvc-container:hover {
    background-color: #68CAFB;
    cursor: pointer;
  }

  .img-why-ppvc{
    width: 50px;
    height: 50px;
  }

  /*ABOUT HTML STYLE*/

.about-hero-container {
    padding-top: 20px;
    background-image: url(assets/heroImgAbout.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(5px);
}

.about-hero-container::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1b214581;
    position: absolute;
    z-index: -1;
    
}


  /*ABOUT HTML STYLE*/


